{% extends 'mundoCeliakia/indexVistaMundoCeliakia.html' %}

{% block contentMain %}
<article class="post">
    <header>
        <div class="title">
            <h2><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=1)}}">Consejos para comer fuera de casa.</a></h2>
        </div>
    </header>
    <p>
        Estas son algunas de las precauciones que debemos tener en cuenta cuando salimos a comer fuera de casa, especialmente si vamos con no celiacos, porque a la hora de compartir mesa también tenemos que ser conscientes del riesgo de contaminación.
        <br>
        Cada vez son más los restaurantes que tienen en cuenta al colectivo celiaco, sin embargo, ver opciones sin gluten en una carta o un menú no siempre es sinónimo de que sean aptas para celiacos. 
        <br>
        De todas maneras, a pesar de estar en un restaurante con opciones seguras, o estar en nuestra propia casa donde hemos podido evitar la contaminación cruzada, cuando compartimos mesa con personas no celiacas que toman alimentos con gluten, también debemos estar alerta para no acabar contaminándonos. Estos son algunos consejos fundamentales para reducir el riesgo sobre la mesa cuando nuestros comensales comen gluten fuera de casa.

        <h3>Precauciones que debe tomar el comensal celiaco</h3>

        <h4>Avisar siempre al personal</h4> Aunque estemos en un restaurante con carta para celiacos, o con platos específicos para nosotros, siempre tenemos que recordar a los profesionales que nos atienden que están frente a un celiaco. Sobre todo en estos tiempos en los que está tan de moda comer sin gluten sin ser celiaco. De esa manera, el camarero y también en la cocina, activarán el protocolo «sin gluten» para que no haya ningún problema a la hora de servirnos. 
        <br>
        En algunas restaurantes esto supone señalar los platos sin gluten con algún tipo de distintivo, supone por supuesto no colocar el pan «no celiaco» con los cubiertos de todos, etc. 
        <br>
        Si por otro lado una vez que avisamos, vemos este tipo de comportamiento tendremos que repetírselo al camarero o incluso solicitar la atención del encargado.
        <br><br>
        <h4>Mejor no compartir</h4>
        Lo mejor cuando somos un montón a la mesa es no compartir, porque aunque los platos sean sin gluten y para todos, quizás a alguno de nuestros acompañantes se le olvide que un gesto tan sencillo como mojar pan en un plato que comparte con un celiaco, hace que no podamos seguir comiendo, porque ya estaría contaminado. 
        <br>
        Si pedimos nuestros propios platos, evitamos estos problemas. Y si nos apetece compartir, tendremos que advertir una y mil veces a quienes nos acompañan que alejen el pan de esos platos, a poder ser, que lo coloquen en otra mesa para extremar al máximo las precauciones.
        <br>
        Una opción si compartimos raciones es que una vez que se sirven sobre la mesa, retiramos una parte a nuestro propio plato. Asi podremos comer parte del plato sin riesgo. Eso sí, el resto de ración que queda en la mesa ya no podremos comerla porque lo más probable es que se contamine, así que asegúrate de que te sirves una buena cantidad.
        <br><br>
        <h4> Preguntar siempre</h4> 
        Cuando pedimos un plato de pasta, una pizza, algo rebozado especial sin gluten, es bastante más obvio que no llevará gluten porque se trata de utilizar ingredientes especiales para nosotros, por lo que en cocina sí o sí, deberían tenerlo todo totalmente controlado. De todas maneras siempre puede haber problemas, así que mejor preguntar, ¿es para celiacos? Nos quedaremos más tranquilos.  
        <br>
        Además a veces se pueden producir errores en la comunicación entre sala y cocina, y nos pueden traer el plato equivocado, así que mejor asegurarnos de que lo que nos han puesto para nosotros es realmente apto.
        <br><br>
        <h4>Cuidado con los cubiertos</h4>
        Si nos ponen un paté por ejemplo, unos quesos, tenemos que tener mucho cuidado con lo que hacen nuestros compañeros de mesa. Si alguien utiliza el cuchillo para partirse un trocito de queso y untarlo en el pan y después vuelve a partir otro trocito de queso con ese mismo cuchillo… ya no nos sirve, ese queso estará contaminado. Lo más recomendable en estos casos es que el celiaco coja un buen trocito para su plato y deje el resto para que los no celiacos hagan lo que consideren. Pero siempre tenemos que hacerlo antes de que los demás contaminen la pieza, al igual que hemos explicado para las raciones a compartir.
        <br><br>
        <h4>El pan lejos y bajo vigilancia</h4>
        Lo que no queremos es tener que pasarnos horas con molestias y dolores tras salir a cenar con unos amigos, así que esta es otra norma básica. Evidentemente no vas a obligar a tus amigos, familia o pareja a comer sin pan, pero sí a consumirlo de manera adecuada. 
        <br>
        Como ya decíamos antes, es mejor situarlo fuera de la mesa para que las migas no sean un peligro. A la hora de partir el pan no celiaco, hacerlo fuera de la mesa, las migas están en todas partes. Cuando se trate de pasar el pan de un comensal a otro, hacerlo con muchísimo cuidado, nunca por encima de los platos sin gluten porque la más mínima miga ya nos hace daño. Mejor pasarlo sin que sobrevuele la mesa.
        <br><br>
        <h4>
            Todos estos consejos tienen como objetivo realizar la dieta sin gluten de forma adecuada y estricta, ya que es el único tratamiento eficaz para la celiaquía.
        </h4>
    </p>
    <footer>
        <ul class="stats">
            <li><a href="https://celicidad.net/salir-a-comer-precauciones-para-celiacos/">Fuente: https://celicidad.net/salir-a-comer-precauciones-para-celiacos/</a></li>
        </ul>
    </footer>
</article>

{% endblock %}