{% extends 'mundoCeliakia/indexVistaMundoCeliakia.html' %}

{% block contentMain %}
<article class="post">
    <header>
        <div class="title">
            <h2><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=1)}}">¿Que hacer si a mi hijo le diagnosticaron celiaquía?</a></h2>
        </div>
    </header>
    <p>
        «Mi hijo es celiaco, ¿qué le doy de comer? ¿qué significa ser celiaco?». Cuando unos padres reciben esta noticia por parte de su pediatra comienza una etapa llena de preguntas, dudas y temores, que provocan un pequeño terremoto en la familia. El primer paso para avanzar en esta etapa es la clave, una buena información.  
        <h4>Calma</h4> 
        Aunque suene a cliché, a perogrullo, es muy importante mantener la calma y estar tranquilos. Evidentemente nos acaban de decir que nuestro hijo es celiaco y no tenemos ni idea de qué va el tema, pero lo primero que debes saber es que la enfermedad celiaca tiene un tratamiento, la dieta sin gluten, y realizando la dieta de forma correcta tu hijo celiaco crecerá sano y fuerte como cualquier otro niño. En los últimos años el mundo sin gluten ha cambiado para bien y cada vez es todo más sencillo.
        <br><br>
        <h4>Información</h4>
        Al contrario de lo que ocurre con otras enfermedades, cuando el pediatra nos dice que nuestro hijo es celiaco sólo nos puede ofrecer una pautas básicas sobre su alimentación, ya que la dieta sin gluten es un tema amplio y complejo. Como el único tratamiento pasa por una dieta de eliminación y no por el consumo de fármacos, será nuestro deber informarnos sobre todo lo que rodea tanto a la dieta sin gluten como a la enfermedad en sí. Así que necesitaremos buscar información en páginas rigurosas, como es el caso de CELICIDAD y muchas otras que encontráis en la red a día de hoy. 
        <br>
        También es más que recomendable formar parte de la asociación de celiacos de nuestra comunidad, que nos orientarán en estos primeros momentos con información muy valiosa.
        <br><br>
        <h4>Hereditaria</h4>
        Deberás saber qué es la celiaquía, porque es más que una intolerancia, es una enfermedad crónica, sistémica y autoinmune que se da en individuos predispuestos genéticamente con una intolerancia permanente al gluten. 
        <br>
        De esta definición se deduce que si tu hijo es celiaco, ha heredado esos genes de alguien, de su padre, de su madre o de los dos, por lo que es fundamental que hagan a sus familiares de primer grado la prueba genética de celiaquía, y si hay síntomas esta prueba adquiere aún mayor importancia porque quizás haya que comenzar el protocolo de pruebas de diagnóstico de la celiaquía para ver si algún familiar también es celiaco. Por supuesto también es fundamental saber qué es el gluten e informarse sobre la contaminación cruzada, algo que hay que evitar en todo momento porque la dieta ha de ser estricta y de por vida.
        <br><br>
        <h4> La dieta sin glúten</h4> 
        Es el único tratamiento eficaz para la celiaquía, una dieta sin gluten estricta de por vida, ya que se trata de un proceso crónico. Eliminar esta proteína -presente especialmente en trigo, cebada, centeno y sus derivados- de la dieta del celíaco es la base de todo y para ello es necesario conocer los alimentos sin gluten, los sellos sin gluten, los productos o alimentos con gluten, el etiquetado preventivo y las trazas de gluten. La clave de la dieta sin gluten es recurrir a alimentos que de forma natural no llevan gluten, como son las carnes, pescados, huevos, leche, frutas, verduras, etc. Por supuesto además de recurrir a este tipo de alimentos sin gluten, es totalmente necesario aprender a evitar la contaminación cruzada en todo momento.
        <br><br>
        <h4>
            Todos estos consejos tienen como objetivo realizar la dieta sin gluten de forma adecuada y estricta, ya que es el único tratamiento eficaz para la celiaquía.
        </h4>
    </p>
    <footer>
        <ul class="stats">
            <li><a href="https://celicidad.net/mi-hijo-celiaco-consejos-papas/">Fuente: https://celicidad.net/mi-hijo-celiaco-consejos-papas/</a></li>
        </ul>
    </footer>
</article>

{% endblock %}