{% extends 'indexVistaMundoCeliakia.html' %}

{% block contentMain %}
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=1)}}">¿Qué es la enfermedad Celíaca?</a></h2>
			</div>
		</header>
		<p>La enfermedad celíaca es una intolerancia permanente al gluten, una proteína que se encuentra en el trigo, avena, cebada y centeno, que afecta al intestino delgado de las personas con predisposición genética. La enfermedad puede aparecer en cualquier momento de la vida, desde que se incorpora gluten a la alimentación hasta la adultez avanzada.</p>
		<footer>
			<ul class="actions">
				<li><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=1)}}" class="button large">Continuar leyendo</a></li>
			</ul>
		</footer>
	</article>

	<article class="post">
		<header>
			<div class="title">
				<h2><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=2)}}">¿Cuáles son sus síntomas?</a></h2>
			</div>
		</header>
		<p>La enfermedad celíaca presenta un cuadro clínico complejo y los síntomas pueden variar significativamente de una persona a otra, o no presentar síntomas. Esa variabilidad hace que muchas veces el diagnóstico se retrase.</p>
		<footer>
			<ul class="actions">
				<li><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=2)}}" class="button large">Continuar leyendo</a></li>
			</ul>
		</footer>
	</article>
	
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=3)}}">¿Cómo se diagnostica?</a></h2>
			</div>
		</header>
		<p>Si pertenecés a un grupo de riesgo o presentás uno o varios de los síntomas mencionados, concurrí al médico/a, que te solicitará los análisis correspondientes.
			En principio se requiere un análisis de sangre, en el que se incluye el anticuerpo Antitransglutaminasa IgA.
		</p>
		<footer>
			<ul class="actions">
				<li><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=3)}}" class="button large">Continuar leyendo</a></li>
			</ul>
		</footer>
	</article>

	<article class="post">
		<header>
			<div class="title">
				<h2><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=4)}}">¿Cómo llevar una dieta libre de glúten?</a></h2>
			</div>
		</header>
		<p>Para llevar una dieta sin gluten se deben evitar los alimentos que contengan trigo, avena, cebada o centeno o alguno de sus derivados. 
			Existen muchos alimentos frescos naturales que no contienen gluten.</p>
		<footer>
			<ul class="actions">
				<li><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=4)}}" class="button large">Continuar leyendo</a></li>
			</ul>
		</footer>
	</article>

	<article class="post">
		<header>
			<div class="title">
				<h2><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=5)}}">La importancia de la contaminación cruzada</a></h2>
			</div>
		</header>
		<p>
			La contaminación cruzada es el proceso mediante el cual los alimentos entran en contacto con otros que están cocinados o no y que terminan por contaminarse como resultado del intercambio de sustancias ajenas.
			La contaminación cruzada puede darse de manera directa o indirecta. La contaminación cruzada directa se produce cuando los alimentos entran en contacto y se contaminan entre sí y la contaminación cruzada indirecta se produce cuando los utensilios de cocina contaminados entran en contacto con alimentos crudos o cocinados.
		</p>
		<footer>
			<ul class="actions">
				<li><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=5)}}" class="button large">Continuar leyendo</a></li>
			</ul>
		</footer>
	</article>

	<article class="post">
		<header>
			<div class="title">
				<h2><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=6)}}">Consejos para ordenar el refigerador</a></h2>
			</div>
		</header>
		<p>
			Definir un espacio o bandeja específica de uso exclusivo en el congelador y refrigerador para los productos libres de gluten. Siempre deben estar separados del resto.
		</p>
		<footer>
			<ul class="actions">
				<li><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=6)}}" class="button large">Continuar leyendo</a></li>
			</ul>
		</footer>
	</article>

	<article class="post">
		<header>
			<div class="title">
				<h2><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=7)}}">Consejos para comer fuera de casa.</a></h2>
			</div>
		</header>
		<p>
			Identificar los locales que ofrecen comida para celíacos, se puede consultar por internet o por teléfono.
			Una vez en el local, indicar al camarero que eres celíaco, para que indique a sus compañeros de cocina que deben activar los protocolos del caso, para extremar los cuidados de contaminación cruzada. Si bien en la carta puede decir que un plato es apto para celíacos, hay que avisar que activen el protocolo necesario, de lo contrario podrían hacer cosas como compartir utensilios de cocina, etc.
		</p>
		<footer>
			<ul class="actions">
				<li><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=7)}}" class="button large">Continuar leyendo</a></li>
			</ul>
		</footer>
	</article>

	<article class="post">
		<header>
			<div class="title">
				<h2><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=8)}}">¿Que hacer si tengo un familiar celiaco?</a></h2>
			</div>
		</header>
		<p>
			«Mi hijo es celiaco, ¿qué le doy de comer? ¿qué significa ser celiaco?». Cuando unos padres reciben esta noticia por parte de su pediatra comienza una etapa llena de preguntas, dudas y temores, que provocan un pequeño terremoto en la familia. El primer paso para avanzar en esta etapa es la clave, una buena información.
		</p>
		<footer>
			<ul class="actions">
				<li><a href="{{url_for('MundoCeliakiaArticulo', idArticulo=8)}}" class="button large">Continuar leyendo</a></li>
			</ul>
		</footer>
	</article>
{% endblock %}