<!DOCTYPE html>

<html>
  <head>
    <title>CeliaKIA</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/main.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/228c5469ee.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css"
    />
  </head>

  <body class="cambio-bg">
    <!-- Wrapper -->
    <div id="wrapper">
      <header id="header">
        <!--<img class="logo" src="../static/kiasf2.png"/>-->
        <h1><a href="#"> CeliaKIA</a></h1>
        <nav class="links">
          <ul>
            <li><a href="#">ADMINISTRADOR</a></li>
          </ul>
        </nav>
        <nav class="main">
          <ul>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Menu -->
      <section id="menu">
        <!-- Links -->
        <section>
          <ul class="links">
            <li>
              <a
                href="{{url_for('PaginaInicioAdmin')}}"
                style="text-decoration: none"
              >
                <h3>Home</h3>
              </a>
            </li>
            <li>
              <a href="{{url_for('Listado')}}" style="text-decoration: none">
                <h3>Recetas</h3>
              </a>
            </li>
            <li>
              <a
                href="{{url_for('ListadoIngredientes')}}"
                style="text-decoration: none"
              >
                <h3>Ingredientes</h3>
              </a>
            </li>
            <li>
              <a
                href="{{url_for('ListadoUnidades')}}"
                style="text-decoration: none"
              >
                <h3>Unidades</h3>
              </a>
            </li>
            <li>
              <a
                href="{{url_for('ListadoNivelDificultad')}}"
                style="text-decoration: none"
              >
                <h3>Dificultad</h3>
              </a>
            </li>
            <li>
              <a
                href="{{url_for('ListadoConsejos')}}"
                style="text-decoration: none"
              >
                <h3>Consejos</h3>
              </a>
            </li>
            <li>
              <a
                href="{{url_for('ListadoAdmin')}}"
                style="text-decoration: none"
              >
                <h3>Administradores</h3>
              </a>
            </li>
          </ul>
        </section>

        <!-- Actions -->
        <section>
          {% if session.administrador %}
          <ul class="actions stacked">
            <li>
              <a href="{{url_for('PaginaInicio')}}" class="button large fit"
                >MODO USUARIO</a
              >
            </li>
          </ul>
          {% endif %}

          <ul class="actions stacked">
            <li>
              <a href="{{url_for('Logout')}}" class="button large fit">Salir</a>
            </li>
          </ul>
        </section>
      </section>
      <div id="main">
        <!-- Main-->
        {% block contentLayoutMain %} {% endblock %}
      </div>
    </div>
  </body>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script
    type="text/javascript"
    charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"
  ></script>
  <script
    type="text/javascript"
    charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"
  ></script>
  <script src="https://code.responsivevoice.org/responsivevoice.js?key=ylsXV674"></script>
  <!-- Tablas ListadoIngredientes, ListadoRecetas, ListadoPreparacion -->
  <script>
    $(document).ready(function () {
      $("#table_listadoRecetas").DataTable({
        autoWidth: true,
        language: {
          lengthMenu: "Mostrar _MENU_ Recetas por página",
          zeroRecords: "¡No existen recetas!",
          info: "Mostrando página _PAGE_ de _PAGES_",
          infoEmpty: "No se encontraron resultados",
          search: "Buscar:",
          loadingRecords: "Cargando...",
          processing: "Procesando...",
          paginate: {
            first: "Primero",
            last: "Último",
            next: "Siguiente",
            previous: "Anterior",
          },
          infoFiltered: "(Filtrado de _MAX_ recetas totales)",
        },
      });
    });

    $(document).ready(function () {
      $("#table_listadoIngredientes").DataTable({
        autoWidth: true,
        language: {
          lengthMenu: "Mostrar _MENU_ Ingredientes por página",
          zeroRecords: "No Existe ese ingrediente",
          info: "Mostrando página _PAGE_ de _PAGES_",
          infoEmpty: "No se encontraron resultados",
          search: "Buscar:",
          loadingRecords: "Cargando...",
          processing: "Procesando...",
          paginate: {
            first: "Primero",
            last: "Último",
            next: "Siguiente",
            previous: "Anterior",
          },
          infoFiltered: "(Filtrado de _MAX_ ingredientes totales)",
        },
      });
    });

    $(document).ready(function () {
      $("#table_listadoPreparacion").DataTable({
        autoWidth: true,
        language: {
          lengthMenu: "Mostrar _MENU_ Pasos por página",
          zeroRecords: "No existe ese paso",
          info: "Mostrando página _PAGE_ de _PAGES_",
          infoEmpty: "No se encontraron resultados",
          search: "Buscar:",
          loadingRecords: "Cargando...",
          processing: "Procesando...",
          paginate: {
            first: "Primero",
            last: "Último",
            next: "Siguiente",
            previous: "Anterior",
          },
          infoFiltered: "(Filtrado de _MAX_ pasos totales)",
        },
      });
    });
  </script>
  <script>

    var id_anterior = 1;

    function Pausa(id_pausa){
      let id_play = 'play' + id_pausa.substring(5)
      var x = document.getElementById(id_pausa);
      var y = document.getElementById(id_play);
      if (responsiveVoice.isPlaying()) {
        responsiveVoice.pause();
        if (y.style.display === "none") {
            y.style.display = "block";
            x.style.display = "none";
        } 
      }
    }

    function Play(id_play){
      var id_pausa = 'pausa'+ id_play.substring(4)
      var id_text = 'paso'+ id_play.substring(4)
			var text = document.getElementById(id_text);
      var x = document.getElementById(id_pausa);
      var y = document.getElementById(id_play);

      if (id_anterior != id_play.substring(4)){
        responsiveVoice.cancel()
        var x_anterior = document.getElementById('pausa'+ id_anterior);
        var y_anterior = document.getElementById('play'+ id_anterior);
        if (y_anterior.style.display === "none") {
            y_anterior.style.display = "block";
            x_anterior.style.display = "none";
        }
      }

      if (responsiveVoice.isPlaying()) {
          responsiveVoice.resume();
        } else {
        responsiveVoice.speak(text.textContent, 'Spanish Latin American Female');
        } 
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        }
      
        id_anterior = id_play.substring(4);
      }
  
    function Stop(id_stop) {
      var id_play = 'play' + id_stop.substring(4)
      var id_pausa = 'pausa' + id_stop.substring(4)
      
      var x = document.getElementById(id_pausa);
      var y = document.getElementById(id_play);
      
      if (id_anterior != id_stop.substring(4)) {
        responsiveVoice.cancel();
        var x_anterior = document.getElementById('pausa'+ id_anterior);
        var y_anterior = document.getElementById('play'+ id_anterior);
        if (y_anterior.style.display === "none") {
            y_anterior.style.display = "block";
            x_anterior.style.display = "none";
        }
      }

      responsiveVoice.cancel();
      if (y.style.display === "none") {
        y.style.display = "block";
        x.style.display = "none";
      } 
    }


    function Leer_Escuchar(totalPasos){
      let total = totalPasos.substring(13);
      for (i=1;i<=total;i++) {
        var id_escuchar = "escuchar" + i;
        var x = document.getElementById(id_escuchar);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
      }  
    }



</script>
</html>
