{% extends 'administrador/admin_template_info_gral.html' %}

{% block template_info_gral_header %}
    <!-- Post -->
<article class="post">
        
    <header>
        <div class="title" style="margin-bottom: 0px;">
            <h2><a href="#">Nueva receta - Información General</a></h2>
            <p style="margin-top: 10px;">
                Comencemos llenando la información general de nuestra receta.</p>
        </div>
        <div class="meta">
            <ul class="actions fit">
                <li><a href="#" class="button fit">Cancelar</a></li>
            </ul>
        </div>
    </header>
    <div>
        <h3>Información general</h3>
{% endblock %}

{% block template_info_gral_footer %}
    </div>
</article>
{% endblock %}



