{% extends 'administrador/admin_layout.html' %}

{% block contentLayoutMain %}
<article class="post">
    {% if session.creando %}
        <header>
            <div class="title" style="margin-bottom: 0px;">
                <h2><a href="#">Crear receta - Preparación</a></h2>
            </div>
            <div class="meta">
                <ul class="actions fit">
                    <li><a href="{{url_for('PrepPorReceta',idReceta = receta.id)}}" class="button fit">Volver</a></li>
                </ul>
            </div>
        </header>
    {% else %}
        <header>
            <div class="title" style="margin-bottom: 0px;">
                <h2><a href="#">Editar receta - {{ receta.titulo }}</a></h2>
            </div>
            <div class="meta">
                <ul class="actions fit">
                    <li><a href="{{url_for('EditarPrepPorReceta',idReceta = receta.id)}}" class="button fit">Volver</a></li>
                </ul>
            </div>
        </header>
    {% endif %}
    <div>
        <h4 style="margin-bottom: 30px;"> Editar Paso</h4>
        <section>
            <form id="nuevaPreparacion" method="POST" action="{{url_for('EditarPasoReceta',idPaso = paso.id)}}" enctype="multipart/form-data">
                <div class="row gtr-uniform">
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}


                    <div class="col-6 col-12-xsmall">
                        {{ form.ordenPaso.label() }}
                        {% if form.ordenPaso.errors %}
                            {{ form.ordenPaso(readonly=true) }}
                            <div>
                                {% for error in form.ordenPaso.errors %}
                                    <span>{{ error }}</span> 
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.ordenPaso(placeholder="Paso N°", readonly=true) }}
                        {% endif %}
                    </div>

                    <div class="col-6 col-12-xsmall">
                        {{ form.tiempoPaso.label() }}
                        {% if form.tiempoPaso.errors %}
                            {{ form.tiempoPaso() }}
                            <div>
                                {% for error in form.tiempoPaso.errors %}
                                    <span>{{ error }}</span> 
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.tiempoPaso(placeholder="Tiempo en realizar el paso") }}
                        {% endif %}
                    </div>
                    <div class="col-12">
                        {{ form.descripcionPaso.label() }}
                        {% if form.descripcionPaso.errors %}
                            {{ form.descripcionPaso() }}
                            <div>
                                {% for error in form.descripcionPaso.errors %}
                                    <span>{{ error }}</span> 
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.descripcionPaso(placeholder="Paso a paso", class="inputTextArea", rows="3") }}
                        {% endif %}
                    </div>

                    <div class="col-12">
                        <ul class="actions">
                            <li>{{ form.submit(type="submit", value="Guardar") }}</li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</article>
{% endblock %}