{% extends 'administrador/admin_layout.html' %}

{% block  contentLayoutMain %}
<article class="post">
    <header>
        <div class="title">
            <h2>
                <a href="#">Editar Receta</a>
            </h2>
            <p style="margin-top: 10px; margin-bottom: 0;">
                Elije una de las opciones a continuación para editarla
            </p>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-11-01">{{ session.fecha }}</time>
            <ul class="actions fit">
                <li><a href="{{url_for('Listado')}}" class="button fit">Volver</a></li>
            </ul>
        </div>
        </header>
        
        <ul class="actions fit">
            <li><a href="{{url_for('EditarImagenReceta',idReceta = receta.id)}}" class="button fit">Imagen</a></li>
            <li><a href="{{url_for('EditarInfoGeneral',idReceta = receta.id)}}" class="button fit">Información General</a></li>
            <li><a href="{{url_for('EditarIngPorReceta',idReceta = receta.id)}}" class="button fit">Ingredientes</a></li>
            <li><a href="{{url_for('EditarPrepPorReceta',idReceta = receta.id)}}" class="button fit">Preparación</a></li>
        </ul>
    </article>

    <article class="post">
        
        <header>
            <div class="title">
                <h2> <a>{{receta.titulo}}</a></h2>
                    <ul class="stats">
                        <li>
                            <a>
                                Dificultad {{receta.dificultad.descripcion}}
                            </a>      
                        </li>
                        <li>
                            <a class="icon solid fa-clock"> 
                                {{ receta.tiempoPreparacion(receta.id)}} minutos
                            </a>
                        </li>
                        <li>
                            <a class="icon solid fa-bowl-food"> 
                                Ingredientes necesarios: {{ receta.ingrediente|length}}
                            </a>
                        </li>
                    </ul>
            </div>
        </header>
        <span class="image featured"><img src="{{url_for('ImagenReceta', nombre=receta.nombre_imagen)}}" alt="" /></span>
        <h7>{{ receta.descripcion }}</h7>
        <br><br>
       
        <!-- Mini Posts -->
        <section>
            <h5 style="margin-top: 40px;"><a><b>Ingredientes</b></a></h5>
            <ul class="posts">
                {% for ixr in receta.ingrediente %}
                    <li style="padding-top: 10px;
                               margin-bottom: -10;
                               margin-top: 10px;">
                        <article>
                            <header>
                                <h3><a><b>{{ixr.ingredientes.descripcion}}</b></a></h3>
                                <time class="published" style="margin-top: 5px;"> {{ixr.cantidad}} {{ixr.unidad.descripcion}}</time>
                            </header>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h5 style="margin-top: 40px;"><a><b>Paso a Paso</b></a></h5>
            <button class="button small" id="Leer_Escuchar{{receta.preparacion|length}}" onclick="Leer_Escuchar(this.id)">Leer Receta</button>
            <ul class="posts">
                {% for paso in receta.preparacion %}
                    <li style="padding-top: 10px;
                            margin-bottom: -10;
                            margin-top: 8px;">
                        <article>
                            <header>
                                <time id="paso{{paso.orden_del_paso}}" class="published" style="margin-top: 5px;"> {{ paso.descripcion}} </time>
                                <ul class="icons" id="escuchar{{paso.orden_del_paso}}" style="display: none;">
                                    <li><a id="play{{paso.orden_del_paso}}" style="display: block;" onclick="Play(this.id)"><b class="icon solid fa-play"></b></a></li>
                                    <li style= "margin-top: 0px; padding-top: 0px;"></li>
                                    <li style= "margin-top: 0px; padding-top: 0px;"><a id="stop{{paso.orden_del_paso}}" style="display: block;" onclick="Stop(this.id)"><b class="icon solid fa-stop"></b></a></li>
                                </ul>
                            </header>
                            <a href="" class="image">
                                <h2>{{paso.orden_del_paso}}</h2>
                            </a>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </article>
</div>
{% endblock %}