{% extends 'administrador/admin_layout.html' %}

{% block contentLayoutMain %}

<article class="post">  
    <header>
        <div class="title" style="margin-bottom: 0px;">
            <h2><a href="#">Editar receta - {{ receta.titulo }}</a></h2>
        </div>
        <div class="meta">
            <ul class="actions fit">
                <li><a href="{{url_for('EditarReceta',idReceta = receta.id)}}" class="button fit">Volver</a></li>
            </ul>
        </div>
    </header>
    <div>
        <h3>Información general</h3>
        <section>
            <form method="POST" action="{{url_for('EditarInfoGeneral',idReceta = receta.id)}}" enctype="multipart/form-data">
                <div class="row gtr-uniform">
                    {{ form.hidden_tag() }}
                    <div class="col-6 col-12-xsmall">
                        {{ form.tituloReceta.label() }}
                        <div>
                            {% if form.tituloReceta.errors %}
                                {{ form.tituloReceta() }}
                                    <div>
                                        {% for error in form.tituloReceta.errors %}
                                            <span>{{ error }}</span> 
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.tituloReceta(placeholder="Título de la receta") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-6 col-12-xsmall">
                        {{ form.dificultad.label(class="txt5 col-sm-6 col-form-label") }}
                        <div>
                            {% if form.dificultad.errors %}                                
                                {{ form.dificultad() }}
                                <div>
                                    {% for error in form.dificultad.errors %}
                                        <span>{{ error }}</span> 
                                    {% endfor %}
                                </div>
                            {% else %}                                
                                {{ form.dificultad(placeholder="Dificultad") }}
                            {% endif %}
                        </div>
                    </div>
                    {% if not receta %}  
                    <div class="col-6 col-12-xsmall">
                        {{ form.imagenReceta.label() }}
                            <div>
                                {% if form.imagenReceta.errors %}										
                                    {{ form.imagenReceta }}
                                    <div>
                                        {% for error in form.imagenReceta.errors %}
                                            <span>{{ error }}</span> 
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.imagenReceta }}
                                {% endif %}
                            </div>
                    </div>
                    {% endif %}
                    <div class="col-12-xsmall">
                        {{ form.descripcion.label() }}
                            <div>
                                {% if form.descripcion.errors %}										
                                    {{ form.descripcion }}
                                    <div>
                                        {% for error in form.descripcion.errors %}
                                            <span>{{ error }}</span> 
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.descripcion }}
                                {% endif %}
                            </div>
                    </div>

                    <div class="col-12">
                        <ul class="actions">
                            <li>{{ form.submit(type="submit") }}</li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</article>
{% endblock %}



