{% extends 'administrador/admin_layout.html' %}

{% block contentLayoutMain %}

<article class="post">
    <header>
        <div class="title">
            <h2>
                <a>Listado de Consejos</a>
            </h2>
        </div>
        <div class="meta">
            <ul class="actions fit">
                <li><a href="{{url_for('PaginaInicioAdmin')}}" class="button fit">Volver</a></li>
            </ul>
        </div>
    </header>
                            
    <div>
        <section>  
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h5 style="margin-bottom:40px;"><b>Nuevo Consejo</b></h5>
                    <form id="formNuevoIngrediente" method="POST" action="{{url_for('ListadoConsejos')}}" enctype="multipart/form-data">
                        <div class="row gtr-uniform">
                            {{ form.hidden_tag() }}
                            {{ form.csrf_token }}
                            <div class="col-12 col-12-medium">
                                {% if form.tituloConsejo.errors %}                    
                                    {{ form.tituloConsejo() }}
                                    <div class="invalid-feedback">
                                        {% for error in form.tituloConsejo.errors %}
                                            <span>{{ error }}</span> 
                                        {% endfor %}
                                </div>
                                {% else %}    
                                    {{ form.tituloConsejo(placeholder="Título")}}
                                {% endif %}
                            </div>

                            <div class="col-12 col-12-medium">
                                {% if form.descripcionConsejo.errors %}                    
                                    {{ form.descripcionConsejo() }}
                                    <div class="invalid-feedback">
                                        {% for error in form.descripcionConsejo.errors %}
                                            <span>{{ error }}</span> 
                                        {% endfor %}
                                </div>
                                {% else %}    
                                    {{ form.descripcionConsejo(placeholder="Descripción")}}
                                {% endif %}
                            </div>
                            <div>
                                {{ form.submit(type="submit", value="Agregar") }}
                            </div>
                        </div>
                    </form>
                </div>
                <div  class="col-6 col-12-medium">
                    <div class="table-wrapper">
                        <div class="dataTable" style="width:96%;">
                            <table id="table_listadoRecetas" class="table table-striped" >
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Título</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                    
                                <tbody>
                                    {% for consejo in consejos %}
                                        <tr>
                                            <td> {{ consejo.titulo}}</td>
                                            <td>
                                                <a href="{{url_for('EditarConsejo',idCons=consejo.id)}}" class="icon solid fa-pen-to-square" style="color:rgb(154, 73, 230)"></a>
                                                <a href="{{url_for('EliminarConsejo',idCons=consejo.id)}}" class="icon solid fa-trash-can" style="color:lightcoral"></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</article>

{% endblock %}