{% extends 'administrador/admin_layout.html' %}

{% block contentLayoutMain %}

<article class="post">
    <header>
        <div class="title">
            <h2>
                <a href="#">Bienvenid@ {{ current_user.nombre }}</a>
            </h2>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-11-01">{{ session.fecha }}</time>
        </div>
        </header>
        
        <ul class="actions fit">
            <li><a href="{{url_for('Listado')}}" class="button fit">Recetas</a></li>
            <li><a href="{{url_for('ListadoIngredientes')}}" class="button fit">Ingredientes</a></li>
            <li><a href="{{url_for('ListadoUnidades')}}" class="button fit">Unidades</a></li>
            <li><a href="{{url_for('ListadoNivelDificultad')}}" class="button fit">Dificultades</a></li>
            <li><a href="{{url_for('ListadoAdmin')}}" class="button fit">Administrador</a></li>
        </ul>
    </article>
</div>

{% endblock %}