{% extends 'administrador/admin_layout.html' %}

{% block  contentLayoutMain %}
    <article class="post" style="padding-top: 25px;padding-bottom: 10px;">
            <ul class="actions fit">
                <li><a href="{{url_for('Listado')}}" class="button fit">Volver</a></li>
                <li><a href="{{url_for('EditarReceta',idReceta = receta.id)}}" class="button fit">Editar</a></li>
                <li><a href="{{url_for('EliminarReceta',idReceta = receta.id)}}" class="button fit">Eliminar</a></li>
            </ul>
    </article>
    <article class="post">
        
        <header>
            <div class="title">
                <h2> <a>{{receta.titulo}}</a></h2>
                <ul class="stats">
                    <li>
                        <a>
                            Dificultad {{receta.dificultad.descripcion}}
                        </a>      
                    </li>
                    <li>
                        <a class="icon solid fa-clock"> 
                            {{ receta.tiempoPreparacion(receta.id)}} minutos
                        </a>
                    </li>
                    <li>
                        <a class="icon solid fa-bowl-food"> 
                            Ingredientes necesarios: {{ receta.ingrediente|length}}
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <span class="image featured"><img src="{{url_for('ImagenReceta', nombre=receta.nombre_imagen)}}" alt="" /></span>
        <p>{{ receta.descripcion }}</p>
       
        <!-- Mini Posts -->
        <section>
            <h5 style="margin-top: 40px;"><a><b>Ingredientes</b></a></h5>
            <ul class="posts">
                {% for ixr in receta.ingrediente %}
                    <li style="padding-top: 10px;
                               margin-bottom: -10;
                               margin-top: 10px;">
                        <article>
                            <header>
                                <h3><a><b>{{ixr.ingredientes.descripcion}}</b></a></h3>
                                <time class="published" style="margin-top: 5px;"> {{ixr.cantidad}} {{ixr.unidad.descripcion}}</time>
                            </header>
                            <a href="#" class="image">
                                <img style="width:35px; height:35px;" src="{{url_for('ImagenIngrediente', nombre=ixr.ingredientes.nombre_imagen)}}" alt="" />
                            </a>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h5 style="margin-top: 40px; margin-bottom: 20px;"><a><b>Paso a paso</b></a></h5>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for paso in receta.preparacion %}
                            <tr>
                                <td lang="es"> {{ paso.orden_del_paso}}</td>
                                <td id="reproducirDescripcion" lang="es"> {{ paso.descripcion}}</td>
                                <td>
                                    <a onclick="responsiveVoice.speak('{{paso.descripcion}}','Spanish Latin American Female');"
                                    class="icon solid fa-play" value="Reproducir">
                                    </a>  
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </article>

{% endblock %}