{% extends 'layout.html' %}

{% block body %}

<div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

        <div class="container-fluid">

            <h1 style="margin-top: 20px; margin-bottom: 20px;">A D M I N I S T R A D O R E S</h1>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="row">
              
                <div class="col-lg-6">  

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Administradores de CeliaKIA</h6>
                        </div>
                        <div class="card-body">
                            <div class="dataTable">
                                <table class="table table-bordered" id="dataTable" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for administrador in administradores %}
                                        <tr>
                                            <td> {{ administrador.id}}</td>
                                            <td> {{ administrador.nombre}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
        
                    <div class="card shadow mb-4">
                  
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Cambiar contraseña</h6>
                      </div>
                  
                        <div class="card-body">
                            <form action="/administrador" method="POST">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input  class="form-control" type="text" name="nombre_a" placeholder="Tu nombre">  
                                </div>
                                <div class="form-group">
                                    <label>Ingrese su contraseña actual</label>
                                    <input  class="form-control" type="password" name="password_vieja" placeholder="Contraseña actual">  
                                </div>
                                <div class="form-group">
                                    <label>Nueva Contraseña</label>                
                                    <input  class="form-control" type="password" name="password_nueva" placeholder="Contraseña nueva">
                                </div>
                                <button type="submit" class="btn btn-outline-success">Enviar</button>
                            </form>
                        </div>
                  
                    </div>
                  
                </div>

            </div>
        </div>
    </div>
</div>



<!-- Bootstrap core JavaScript-->
<script src="{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Custom scripts for all pages-->
<script src="{{url_for('static', filename = 'js/sb-admin-2.min.js')}}"></script>

<!-- Page level plugins -->
<script src="{{url_for('static', filename = 'vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{url_for('static', filename = 'js/demo/datatables-demo.js')}}"></script>
        
{% endblock %}