{% extends 'admin_layout.html' %}

{% block content %}

<!-- Main -->
<div id="main">
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="#">Bienvenid@ Administrador</a></h2>	
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01">{{time}}</time>
                <a href="#" class="author"><span class="name">Eve</span>
                    <img src="{{url_for('static', filename='images/avatar.jpg')}}" alt="" />
                </a>                
            </div>
        </header>
        
        <ul class="actions fit">
            <li><a href="{{url_for('Listado')}}" class="button fit">Recetas</a></li>
            <li><a href="#" class="button fit">Ingredientes</a></li>
            <li><a href="#" class="button fit">Unidades</a></li>
            <li><a href="#" class="button fit">Dificultades</a></li>
            <li><a href="#" class="button fit">Administradores</a></li>
        </ul>
    </article>
</div>

{% endblock %}