<!DOCTYPE HTML>

<html>
	<head>
		<title>CeliaKIA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css"/>
		
    </head>
	<body class="cambio-bg">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">CeliaKIA Administrador</a></h1>
						<nav class="main">
							<ul>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{{url_for('Listado')}}">
											<h3>Home</h3>
										</a>
									</li>
									<li>
										<a href="{{url_for('InfoGeneral')}}">
											<h3>Recetas</h3>
											<p>Listado de Recetas</p>
											<p>Creación de Recetas</p>
										</a>
									</li>									
									<li>
										<a href="#">
											<h3>Ingredientes</h3>
											<p>Listado de Ingredientes</p>
											<p>Creación de Ingredientes</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Unidades</h3>
											<p>Listado de Unidades</p>
											<p>Creación de Unidades</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Dificultad</h3>
											<p>Listado de Dificultades</p>
											<p>Creación de Dificultades</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="{{url_for('Logout')}}" class="button large fit">Salir</a></li>
								</ul>
							</section>

					</section>
					{% block content %}   {% endblock %}
			</div>

	</body>

		<!-- Scripts -->
		<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
		

		<script src="../static/assets/js/jquery.min.js"></script>
		<script src="../static/assets/js/browser.min.js"></script>
		<script src="../static/assets/js/breakpoints.min.js"></script>
		<script src="../static/assets/js/util.js"></script>
		<script src="../static/assets/js/main.js"></script> 
		
			<!-- DataTables -->
			<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
			<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>


</html>