{% extends 'admin_layout.html' %}

{% block content %}

<div id="main">
    <!-- Post -->
    <article class="post">
            
        <header>
            <div class="title">
                <h2><a href="#">Nueva receta</a></h2>										
                <ul class="actions fit">
                    <li><a href="#" class="button fit">Información general</a></li>
                    <li><a href="#" class="button fit">Ingredientes</a></li>
                    <li><a href="#" class="button fit">Preparación</a></li>
                    <li><a href="{{ url_for('Listado') }}" class="button fit">Finalizar</a></li>
                </ul>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01">November 1, 2015</time>
                <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
                <a href="{{ url_for('Cancelar') }}" class="button fit">Cancelar</a>
            </div>
        </header>
        <div>
            <section>
                <h3>Preparación</h3>
                <h4>Agregar nuevo paso en {{ nombreReceta }}</h4>
                <form id="nuevaPreparacion" method="POST" action="{{url_for('PrepPorReceta',idPrep = idPrep)}}" enctype="multipart/form-data">
                    <div class="row gtr-uniform">
                        {{ form.hidden_tag() }}
                        {{ form.csrf_token }}

                        <div class="col-6 col-12-xsmall">
                            {% if form.ordenPaso.errors %}
                                {{ form.ordenPaso() }}
                                <div>
                                    {% for error in form.ordenPaso.errors %}
                                        <span>{{ error }}</span> 
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.ordenPaso(placeholder="Paso N°") }}
                            {% endif %}
                        </div>

                        <div class="col-6 col-12-xsmall">
                            {% if form.tiempoPaso.errors %}
                                {{ form.tiempoPaso() }}
                                <div>
                                    {% for error in form.tiempoPaso.errors %}
                                        <span>{{ error }}</span> 
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.tiempoPaso(placeholder="Tiempo en realizar el paso") }}
                            {% endif %}
                        </div>
                        <div class="col-12">
                            {% if form.descripcionPaso.errors %}
                                {{ form.descripcionPaso() }}
                                <div>
                                    {% for error in form.descripcionPaso.errors %}
                                        <span>{{ error }}</span> 
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.descripcionPaso(placeholder="Paso a paso", class="inputTextArea", rows="3") }}
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <ul class="actions">
                                <li>{{ form.submit() }}</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
            <section>
                <div class="table-wrapper">
                    <div class="dataTable" style="width: 98%;">
                            <table id="listadoPreparacion" class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Orden</th>
                                        <th>Descripción</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for paso in preparacion %}
                                        <tr>
                                            <td> {{ paso.orden_del_paso}}</td>
                                            <td> {{ paso.descripcion}}</td>
                                            <td>
                                                <a href="{{url_for('PrepPorReceta', idPrep=paso.id)}}" class="btn btn-outline-info"><i class="bi bi-pencil-square"></i></a>
                                                <a href="{{url_for('EliminarPrepPorReceta', idPrep=paso.id)}}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </section>
        </div>
    </article>
</div>



{% endblock %}