{% extends 'admin_layout.html' %}

{% block contentLayoutMain %}

<article class="post">
    <header>
        <div class="title">
            <h2>
                <a>Listado de recetas</a>
            </h2>
        </div>
        <div class="meta">
            <ul class="actions stacked">
                <li>
                    <a href="{{url_for('InfoGeneral')}}" class="button large fit">Nueva Receta</a>
                </li>
            </ul>
        </div>
    </header>
                            
    <section>
        <div class="table-wrapper">
            <div class="dataTable" style="width: 98.5%;">
                <table id="table_listadoRecetas" class="table table-striped" >
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Dificultad</th>
                            
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                        
                    <tbody>
                        {% for receta in recetas %}
                            <tr>
                                <td> {{ receta.id}}</td>
                                <td> {{ receta.titulo}}</td>
                                <td> {{ receta.dificultad.descripcion}}</td>
                                <td> {{ receta.calificacion}}</td>
                                <td>
                                    <a href="/receta/editar/{{receta.id}}" class="icon solid fa-eye" style="color:lightseagreen"></a>
                                    <a href="/receta/{{receta.id}}" class="icon solid fa-pen-to-square" style="color:burlywood"></a>
                                    <a href="/recetas/eliminar/{{receta.id}}" class="icon solid fa-trash-can" style="color:lightcoral"></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</article>

{% endblock %}