{% extends 'indexVistaBusqueda.html' %}

{% block contentMain %}

	<article class="post">
		<div class="title">
			<h2 style="text-align:center;"><a href="#">Buscar por Ingrediente</a></h2>
		</div>
		<form method="post" action="{{url_for('IngredienteBusqueda')}}">
			{{ form.hidden_tag() }}
			{{ form.csrf_token }}
			<div class="row gtr-uniform">
				<div class="col-12">
					{% if form.nombreIngrediente.errors %}                    
						{{ form.nombreIngrediente() }}
					{% else %}    
						{{ form.nombreIngrediente(type="text",placeholder="Agregar ingrediente...") }}				
					{% endif %}
				</div>
				<div class="col-12">
					{{ form.submit(class="button fit") }}
				</div>
			</div>
		</form>	
	</article>

	{% if session.ingredientes_id %} 
		<article class="post">
			<!-- Mini Posts -->
			<section>
				<h3>Buscaremos recetas que contengan:</h3>
				<ul class="posts">
					{% for i in ingredientes %}
						<li>
							<article>
								<a href="{{url_for('EliminarIngredienteBusqueda', desc_ingrediente = i.descripcion)}}" class="icon solid fa-x" style="color: red;"></a>
								<header>
									<h3><a>{{ i.descripcion}}</a></h3>
								</header>
								<a class="image">
									<img style="width:64px; height:64px;" src="{{url_for('ImagenIngrediente', nombre=i.nombre_imagen)}}" alt="" />
								</a>
							</article>
						</li>
					{% endfor %}
				</ul>
			</section>
			<ul class="actions fit">
				<li><a href="{{url_for('RecetasPorIngrediente')}}" class="button fit">Finalizar y buscar</a></li>
				<li><a href="{{url_for('NuevaBusquedaPorIngredientes')}}" class="button fit">Descartar todo</a></li>
			</ul>
		</article>
	{% endif %}	

	{% if random.all() %}
		<section>
			<h3>Recomendación del día</h3>
			<div class="mini-posts">
				{% for receta in random %}
					<article class="mini-post">
						<header>
							<h2> 
								<a href="{{url_for('VerReceta', idReceta=receta.id)}}">{{ receta.titulo}}</a>
							</h2>
							{% if receta.dificultad.descripcion == 'Baja' %}
								<p href="{{url_for('VerReceta', idReceta=receta.id)}}" class="icon solid fa-circle" style="color:lightseagreen;margin-bottom: 10px;">
								Dificultad {{receta.dificultad.descripcion}} 
							{% elif receta.dificultad.descripcion == 'Media' %}    
								<p href="{{url_for('VerReceta', idReceta=receta.id)}}" class="icon solid fa-circle" style="color:rgb(240, 216, 0);margin-bottom: 10px;">
								Dificultad {{receta.dificultad.descripcion}} 
							{% else %}
								<p href="{{url_for('VerReceta', idReceta=receta.id)}}" class="icon solid fa-circle" style="color:lightsalmon;margin-bottom: 10px;">
								Dificultad {{receta.dificultad.descripcion}} 
							{% endif %}
								</p>
							<p href="{{url_for('VerReceta', idReceta=receta.id)}}" class="icon solid fa-clock" style="margin-bottom: 10px;"> {{ receta.tiempoPreparacion(receta.id)}} minutos</p>
							<p href="{{url_for('VerReceta', idReceta=receta.id)}}" class="icon solid fa-bowl-food"> Ingredientes necesarios: {{ receta.ingrediente|length}}</p>
						</header>
						<a href="{{url_for('VerReceta', idReceta=receta.id)}}" class="image"><img src="{{url_for('ImagenReceta', nombre=receta.nombre_imagen)}}" alt="" /></a>
					</article> 
				{% endfor %}
			</div>
		</section>
	{% endif %}

{% endblock %}


