{% extends 'indexLayout.html' %}

{% block contentMain %}

	<article class="post">
		<div class="title">
			<h2 style="text-align:center;"><a href="#">Buscar por Ingrediente</a></h2>
		</div>
		<form method="post" action="{{url_for('IngredienteBusqueda')}}">
			{{ form.hidden_tag() }}
			{{ form.csrf_token }}
			<div class="row gtr-uniform">
				<div class="col-12">
					{% if form.nombreIngrediente.errors %}                    
						{{ form.nombreIngrediente() }}
					{% else %}    
						{{ form.nombreIngrediente(type="text",placeholder="Agregar ingrediente...") }}				
					{% endif %}
				</div>
				<div class="col-12">
					{{ form.submit(class="button fit") }}
				</div>
			</div>
		</form>	
	</article>

	{% if session.ingredientes_id %} 
		<article class="post">
			<!-- Mini Posts -->
			<section>
				<div class="mini-posts">
					{% for i in ingredientes %}
						<article class="mini-post">
							<header>
								<h2><a>{{ i.descripcion}}</a></h2>                            
							</header>
						</article> 
					{% endfor %}
				</div>
			</section>
			<a class="button fit" href="{{url_for('RecetasPorIngrediente')}}">Finalizar y buscar</a>
			<a class="button fit" href="{{url_for('NuevaBusquedaPorIngredientes')}}">Descartar y comenzar de nuevo</a>
		</article>
	{% endif %}	

{% endblock %}


