{% extends 'layout.html' %}

{% block body %}

<div id="content-wrapper" class="d-flex flex-column">

  <div id="content">

    <div class="container-fluid">
      
      <h1 style="margin-top: 20px; margin-bottom: 20px; text-align: center;">NUEVA RECETA</h1>
      
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <nav class="nav nav-pills flex-column flex-sm-row" style="margin-bottom: 20px; margin-top: 20px;">
          <a class="flex-sm-fill text-sm-center nav-link active" href="" >Información General</a>
          <a class="flex-sm-fill text-sm-center nav-link disabled" href="" tabindex="-1" aria-disabled="true">Ingredientes</a>
          <a class="flex-sm-fill text-sm-center nav-link disabled" href="" tabindex="-1" aria-disabled="true">Preparacion</a>
          <a class="flex-sm-fill text-sm-center nav-link disabled" href="" tabindex="-1" aria-disabled="true">Receta</a>
      </nav>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      
      <div class="row">
        
        <div class="col-lg-12">
        
          <div class="card shadow mb-4">
        
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Informacion General</h6>
            </div>
        
            <div class="card-body">
              <form action="/receta/nueva" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Nombre de la Receta</label>
                    <input  class="form-control" type="text" name="titulo" placeholder="nombre de receta">  
                  </div>
                  <div class="form-group col-md-6">
                    <label>Tiempo de preparacion</label>                
                    <input  class="form-control" type="number" name="tiempo_preparacion" placeholder="Tiempo de preparacion">
                  </div>
                </div>
                <div class="form-group">
                  <label>Calificacion</label>                
                  <input class="form-control" type="number" name="calificacion" placeholder="Calificacion">
                </div>
                <div class="form-group">
                  <label>Dificultad</label>                
                  <select class="form-control" id="dificultad" name="dificultad" placeholder="dificultad">
                    <option>facil</option>
                    <option>intermedio</option>
                    <option>dificil</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Nombre Imagen</label>                
                  <input  class="form-control" type="text" name="nombre_imagen" placeholder="nombre_imagen">
                </div>
                <div class="form-group">
                  <input type="file" name="archivo"> 
                </div>
                <button type="submit" class="btn btn-outline-success">Enviar</button>
              </form>
            </div>
        
          </div>
        
        </div>

      </div>

    </div>

  </div>

</div>
<!-- Bootstrap core JavaScript-->
<script src="{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Custom scripts for all pages-->
<script src="{{url_for('static', filename = 'js/sb-admin-2.min.js')}}"></script>

<!-- Page level plugins -->
<script src="{{url_for('static', filename = 'vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{url_for('static', filename = 'js/demo/datatables-demo.js')}}"></script>

{% endblock %}