{% extends 'layout.html' %}

{% block content %}

<section class="py-3">
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-lg-9">
                <h1 class="font-weight-bold color-black">Recetas</h1>
                <p class="lead text-muted">
                    Nueva Receta - Preparación
                </p>
            </div>
            <div class="col-lg-3 d-flex p-t-30">
                <button class="btn-green w-100 align-self-center m-r-4" onclick="history.back()">Anterior</button>
                <a class="btn-green w-100 align-self-center" href="{{ url_for('Listado') }}">Finalizar</a>
            </div>
        </div>
        <hr>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body m-b-50">
                        <span class="form-title">
                            Nuevo Paso
                        </span>
                        <div  class="wrap-input">
                            <form class="login100-form" id="editarPreparacion" method="POST" action="{{url_for('EditarPrepPorReceta', idPrep=idPrep)}}" enctype="multipart/form-data">
                                {{ form.hidden_tag() }} 
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ form.ordenPaso.label(class="txt5 text-center col-md-12") }}
                                        <div  class="wrap-input100 validate-input m-b-16">
                                            {% if form.ordenPaso.errors %}
                                                {{ form.ordenPaso(class="input100 is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.ordenPaso.errors %}
                                                        <span>{{ error }}</span> 
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.ordenPaso(class="input100", type="number") }}
                                                <span class="focus-input100"></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        {{ form.descripcion.label(class="txt5 text-center col-md-12") }}
                                        <div  class="wrap-input100 validate-input m-b-16">
                                            {% if form.descripcion.errors %}
                                                {{ form.descripcion(class="inputTextArea is-invalid", rows="10") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.descripcion.errors %}
                                                        <span>{{ error }}</span> 
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.descripcion(class="inputTextArea", rows="3") }}
                                                <span class="focus-input100"></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="container-login100-form-btn">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="{{ url_for('PrepPorReceta') }}" class="login100-form-btncancell"> Cancelar </a>
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.submit(class="login100-form-btn") }}
                                        </div>  
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="dataTable">
                            <table id="listadoPreparacion" class="table table-striped" style="width: 100%;">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Orden</th>
                                        <th>Descripción</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for paso in preparacion %}
                                        <tr>
                                            <td> {{ paso.orden_del_paso}}</td>
                                            <td> {{ paso.descripcion}}</td>
                                            <td>
                                                <a href="{{url_for('EditarPrepPorReceta', idPrep=paso.id)}}" class="btn btn-outline-info"><i class="bi bi-pencil-square"></i></a>
                                                <a href="{{url_for('EliminarPrepPorReceta', idPrep=paso.id)}}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

{% endblock %}