{% extends 'layout.html' %}

{% block content %}

<section class="py-3 p-t-14">
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-lg-9">
                <h1 class="font-weight-bold color-black">{{ receta.titulo }}</h1>
                <p class="lead text-muted">
                    Editar Receta
                </p>
            </div>
        </div>
        <hr>
    </div>
</section>

<section>
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-lista-tab" data-toggle="tab" href="#infoGral" role="tab" aria-controls="nav-lista">Información General</a>
                <a class="nav-link" id="nav-agregar-tab" data-toggle="tab" href="#ingredientes" role="tab" aria-controls="nav-editar">Ingredientes</a>
                <a class="nav-link" id="nav-agregar-tab" data-toggle="tab" href="#preparacion" role="tab" aria-controls="nav-agregar">Preparacion</a>
            </div>
        </nav>
    </div>
</section>

<section>
    <div class="tab-content">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="infoGral" role="tabpanel" aria-labelledby="nav-lista-tab">
              <div class="container m-t-15">
                <div class="card">
                  <div class="card-body m-b-50">
                    <span class="form-title">Información general</span>
                    <form class="login100-form p-l-55 p-r-55" id="formInfoGeneral" method="POST" action="{{url_for('InfoGeneral')}}" enctype="multipart/form-data">
                      {{ form.hidden_tag() }}
                      <div  class="wrap-input m-b-16">
                        {{ form.tituloReceta.label(class="txt5 col-sm-6 col-form-label") }}
                        <div  class="wrap-input100 m-b-16">
                          {% if form.tituloReceta.errors %}
                            {{ form.tituloReceta(class="input100 is-invalid", placeholder="Título de la receta") }}
                            <div class="invalid-feedback">
                              {% for error in form.tituloReceta.errors %}
                                <span>{{ error }}</span> 
                              {% endfor %}
                            </div>
                          {% else %}
                            {{ form.tituloReceta(class="input100", placeholder="Título de la receta") }}
                            <span class="focus-input100"></span>
                          {% endif %}
                        </div>
                        
                        <div class="row">
                          <div class="col-md-6">
                            {{ form.tiempoPreparacion.label(class="txt5 col-sm-6 col-form-label") }}
                            <div  class="wrap-input100 m-b-16">
                              {% if form.tiempoPreparacion.errors %}
                              
                                {{ form.tiempoPreparacion(class="input100 is-invalid", placeholder="Tiempo de preparación") }}
                                <div class="invalid-feedback">
                                  {% for error in form.tiempoPreparacion.errors %}
                                    <span>{{ error }}</span> 
                                  {% endfor %}
                                </div>
                              {% else %}
                              
                                {{ form.tiempoPreparacion(class="input100", type="number", placeholder="Tiempo de preparación") }}
                                <span class="focus-input100"></span>
                              {% endif %}
                            </div>
                          </div>
            
                          <div class="col-md-6">
                            {{ form.dificultad.label(class="txt5 col-sm-6 col-form-label") }}
                            <div  class="wrap-input100 m-b-16">
                              {% if form.dificultad.errors %} 
                                {{ form.dificultad(class="input100 is-invalid", placeholder="Dificultad") }}
                                <div class="invalid-feedback">
                                  {% for error in form.dificultad.errors %}
                                    <span>{{ error }}</span> 
                                  {% endfor %}
                                </div>
                              {% else %}
                              
                                {{ form.dificultad(class="input100", type="text", placeholder="Dificultad") }}
                                <span class="focus-input100"></span>
                              {% endif %}
                            </div>
                          </div>
                        </div>
            
                        <div class="row">
                          <div class="col-md-6">
                            {{ form.nombreImagen.label(class="txt5 col-sm-6 col-form-label") }}
                            <div  class="wrap-input100 m-b-16">
                              {% if form.nombreImagen.errors %}
                                
                                {{ form.nombreImagen(class="input100 is-invalid", placeholder="Nombre de la Imagen") }}
                                <div class="invalid-feedback">
                                  {% for error in form.nombreImagen.errors %}
                                    <span>{{ error }}</span> 
                                  {% endfor %}
                                </div>
                              {% else %}
                      
                                {{ form.nombreImagen(class="input100", placeholder="Nombre de la Imagen") }}
                                <span class="focus-input100"></span>
                              {% endif %}
                            </div>
                          </div>
            
                          <div class="col-md-6">
                            {{ form.imagenReceta.label(class="txt5 col-sm-6 col-form-label") }}
                            <div  class="wrap-input100 m-b-16">
                              {% if form.imagenReceta.errors %}
                                
                                {{ form.imagenReceta }}
                                <div class="invalid-feedback">
                                  {% for error in form.imagenReceta.errors %}
                                    <span>{{ error }}</span> 
                                  {% endfor %}
                                </div>
                              {% else %}
                                {{ form.imagenReceta }}
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      
                        <div class="container-login100-form-btn">
                          {{ form.submit(class="login100-form-btn") }}
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="preparacion" role="tabpanel" aria-labelledby="nav-agregar-tab">
              <div class="container m-t-15">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body m-b-50">
                                <span class="form-title">
                                    Paso
                                </span>
                                <div  class="wrap-input">
                                    <form class="login100-form" id="editarPreparacion" method="POST" action="/receta/editar/{{idReceta}}/preparacion/{{idPrep}}" enctype="multipart/form-data">
                                        {{ formP.hidden_tag() }} 
                                        <div class="row">
                                            <div class="col-md-3">
                                                {{ formP.ordenPaso.label(class="txt5 text-center col-md-12") }}
                                                <div  class="wrap-input100  m-b-16">
                                                    {% if formP.ordenPaso.errors %}
                                                        {{ formP.ordenPaso(class="input100 is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in formP.ordenPaso.errors %}
                                                                <span>{{ error }}</span> 
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ formP.ordenPaso(class="input100", type="number") }}
                                                        <span class="focus-input100"></span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                {{ formP.descripcion.label(class="txt5 text-center col-md-12") }}
                                                <div  class="wrap-input100  m-b-16">
                                                    {% if formP.descripcion.errors %}
                                                        {{ formP.descripcion(class="inputTextArea is-invalid", rows="10") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in formP.descripcion.errors %}
                                                                <span>{{ error }}</span> 
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ formP.descripcion(class="inputTextArea", rows="3") }}
                                                        <span class="focus-input100"></span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="container-login100-form-btn">
                                           {{ formP.submit(class="login100-form-btn") }}
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <div class="dataTable">
                                    <table id="listadoPreparacion" class="table table-striped" style="width: 100%;">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Orden</th>
                                                <th>Descripción</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for paso in preparacion %}
                                                <tr>
                                                    <td> {{ paso.orden_del_paso}}</td>
                                                    <td> {{ paso.descripcion}}</td>
                                                    <td>
                                                        <a href="/receta/editar/{{idReceta}}/preparacion/{{paso.id}}" class="btn btn-outline-info"><i class="bi bi-pencil-square"></i></a>
                                                        <a href="{{url_for('EliminarPrepPorReceta', idPrep=paso.id)}}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="ingredientes" role="tabpanel" aria-labelledby="nav-ingredientes-tab">
              <div class="container m-t-15">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="card">
                              <div class="card-body m-b-50">
                                  <span class="form-title">Ingrediente</span>   
                                  <div  class="wrap-input">
                                      <form class="login100-form" id="formIngredientes" method="POST" action="/receta/editar/{{idReceta}}/ingredientes/{{idIxR}}" enctype="multipart/form-data">
                                          {{ formI.hidden_tag() }}
                                          <div class="col-md-14">
                                              {{ formI.nombreIngrediente.label(class="txt5 text-center col-md-12") }}
                                              <div  class="wrap-input100 m-b-16">
                                                  {% if formI.nombreIngrediente.errors %}
                                                      {{ formI.nombreIngrediente(class="input100 is-invalid") }}
                                                      <div class="invalid-feedback">
                                                          {% for error in formI.nombreIngrediente.errors %}
                                                                  <span>{{ error }}</span> 
                                                          {% endfor %}
                                                      </div>
                                                  {% else %}
                                                      {{ formI.nombreIngrediente(class="input100") }}
                                                      <span class="focus-input100"></span>
                                                  {% endif %}
                                              </div>
                                          </div>

                                          <div class="row">
                                              <div class="col-md-6">
                                                  {{ formI.cantidad.label(class="txt5 text-center col-md-12") }}
                                                  <div  class="wrap-input100 validate-input m-b-16">
                                                      {% if formI.cantidad.errors %}                            
                                                          {{ formI.cantidad(class="input100 is-invalid") }}
                                                          <div class="invalid-feedback">
                                                              {% for error in formI.cantidad.errors %}
                                                                  <span>{{ error }}</span> 
                                                              {% endfor %}
                                                          </div>
                                                      {% else %}            
                                                          {{ formI.cantidad(class="input100", type="number") }}
                                                          <span class="focus-input100"></span>
                                                      {% endif %}
                                                  </div>
                                              </div>
                                              <div class="col-md-6">
                                                  {{ formI.unidad.label(class="txt5 text-center col-md-12") }}
                                                  <div  class="wrap-input100 validate-input m-b-16">
                                                      {% if formI.unidad.errors %}                            
                                                          {{ formI.unidad(class="input100 is-invalid") }}
                                                          <div class="invalid-feedback">
                                                              {% for error in formI.unidad.errors %}
                                                                  <span>{{ error }}</span> 
                                                              {% endfor %}
                                                          </div>
                                                      {% else %}    
                                                          {{ formI.unidad(class="input100") }}
                                                          <span class="focus-input100"></span>
                                                      {% endif %}
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="col-md-14">
                                              {{ formI.nombreImagen.label(class="txt5 text-center col-md-12") }}
                                              <div  class="wrap-input100 validate-input m-b-16">
                                                  {% if formI.nombreImagen.errors %}                            
                                                      {{ formI.nombreImagen(class="input100 is-invalid") }}
                                                      <div class="invalid-feedback">
                                                          {% for error in formI.nombreImagen.errors %}
                                                              <span>{{ error }}</span> 
                                                          {% endfor %}
                                                      </div>
                                                  {% else %}    
                                                      {{ formI.nombreImagen(class="input100") }}
                                                      <span class="focus-input100"></span>
                                                  {% endif %}
                                              </div>
                                          </div>

                                          <div class="col-md-12">
                                              <div  class="wrap-input100 validate-input m-b-16">
                                                  {% if formI.imagenIngrediente.errors %}                        
                                                      {{ formI.imagenIngrediente }}
                                                      <div class="invalid-feedback">
                                                          {% for error in formI.imagenIngrediente.errors %}
                                                              <span>{{ error }}</span> 
                                                          {% endfor %}
                                                      </div>
                                                  {% else %}
                                                      {{ formI.imagenIngrediente }}
                                                  {% endif %}
                                              </div>
                                          </div>

                                          <div class="container-login100-form-btn">
                                            {{ formI.submit(class="login100-form-btn") }}
                                          </div>

                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-7 p-l-0">
                          <div class="card">
                              <div class="card-body">
                                  <div class="dataTable">
                                      <table class="display table table-striped" style="width: 100%;">
                                          <thead class="thead-dark">
                                              <tr>
                                                  <th scope="col">Cantidad</th>
                                                  <th scope="col">Unidad</th>
                                                  <th scope="col">Descripción</th>
                                                  <th scope="col">Imagen</th>
                                                  <th></th>
                                              </tr>
                                          </thead>
                                          
                                          <tbody>
                                              {% for ixr in ingredientes %}
                                                  <tr>
                                                      <td>{{ ixr.cantidad }}</td>
                                                      <td>{{ ixr.ingredientes.unidad.descripcion }}</td>
                                                      <td>{{ ixr.ingredientes.descripcion }}</td>
                                                      <td>{{ ixr.ingredientes.nombre_imagen }}</td>
                                                      <td>
                                                          <a id="edit{{ixr.id}}" type="button" class="btn btn-outline-info" href="/receta/editar/{{idReceta}}/ingredientes/{{ixr.id}}">
                                                              <i class="bi bi-pencil-square"></i>
                                                          </a>
                                                          <a id="delete{{ixr.id}}" href="/ingredientes/eliminar/{{ixr.id}}" class="btn btn-outline-danger" onclick="return confirm('Estas seguro que deseas eliminar el ingrediente de la receta?')">
                                                              <i class="bi bi-trash"></i>
                                                          </a>
                                                      </td>
                                                  </tr>
                                              {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</section>

{% endblock %}