{% extends 'indexVistaBusqueda.html' %}

{% block contentLayoutMain %}

    <!-- Posts -->
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="#">Mis recetas favoritas</a></h2>
            </div>
        </header>
        <!-- Mini Posts -->
        <section>
            <div class="mini-posts">
                {% for receta in recetas %}
                    <article class="mini-post">
                        <header>
                            <h2><a href="{{url_for('VerReceta', idReceta=receta.id)}}">{{ receta.titulo}}</a></h2>
                            <p href="{{url_for('VerReceta', idReceta=receta.id)}}">Dificultad {{receta.dificultad.descripcion}} <p href="#" class="icon solid fa-clock">{{ receta.tiempoPreparacion(receta.id)}} minutos</p></p>
                        </header>
                        <a href="{{url_for('VerReceta', idReceta=receta.id)}}" class="image"><img src="{{url_for('ObtenerImagen', nombre=receta.nombre_imagen)}}" alt="" /></a>
                    </article> 
                {% endfor %}
            </div>
        </section>
    </article>
		

{% endblock %}