{% extends 'indexLayout.html' %}

{% block contentIndex %}

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>¿Y ahora qué como?</h3>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Mis Favoritos</h3>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>El mundo de la celiaquía</h3>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>KIA - Sobre Nosotros</h3>
											<p>Porta lectus amet ultricies</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Etiam sed consequat</h3>
											<p>Porta lectus amet ultricies</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Configuración</a></li>
								</ul>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Salir</a></li>
								</ul>
							</section>

					</section>

			{% endblock %}