<!DOCTYPE HTML>

<html>
	<head>
		<title>CeliaKIA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />


	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<img class="logo" src="../static/kiasf2.png"/>
						<h1><a href="/index">CeliaKIA</a></h1>
						<nav class="main">
							<ul>
								<li class="menu">
									<a class="fa-bars" onclick="Open()" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{{url_for('PaginaInicio')}}">
											<h3>¿Y ahora qué como?</h3>
										</a>
									</li>
									<li>
										<a href="{{url_for('MisFavoritas')}}">
											<h3>Mis Favoritos</h3>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>El mundo de la celiaquía</h3>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>KIA - Sobre Nosotros</h3>
											<p>Porta lectus amet ultricies</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Etiam sed consequat</h3>
											<p>Porta lectus amet ultricies</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Configuración</a></li>
								</ul>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Salir</a></li>
								</ul>
							</section>

					</section>

					<div id="main">
						{% block contentMain %}   {% endblock %}
					</div>
					<section id="sidebar">
						<!-- Intro -->
						<section id="intro">
							<header>
								<h2>¿Y ahora qué como?</h2>
							</header>
								<a 	href="{{url_for('PaginaInicio')}}" 
									class="button" 
									style="margin-top: 10px;">
									Búsqueda por nombre de receta
								</a>
								<a 	href="{{url_for('AgregarIngredienteBusqueda')}}" 
									class="button" 
									style="padding-left: 42px; padding-right: 42px; margin-top: 10px;">
									Búsqueda por ingredientes
								</a>
						</section>

						<section>
							<h2>El mundo de la celiaquía </h2>
							<ul class="posts">
								<li>
									<article>
										<header>
											<h3><a href="single.html">Cuidemos la contaminación cruzada</a></h3>
											<time class="published" datetime="2015-10-20">October 20, 2015</time>
										</header>
										<a href="single.html" class="image"><img src="../static/images/pic08.jpg" alt="aca" /></a>
									</article>
								</li>
								<li>
									<article>
										<header>
											<h3><a href="#">¿Cuáles son los síntomas más comunes?</a></h3>
											<time class="published" datetime="2015-10-15">October 15, 2015</time>
										</header>
										<a href="single.html" class="image"><img src="../static/images/pic09.jpg" alt="aca" /></a>
									</article>
								</li>
								<li>
									<article>
										<header>
											<h3><a href="single.html">Consejos para ordenar el refrigerador</a></h3>
											<time class="published" datetime="2015-10-10">October 10, 2015</time>
										</header>
										<a href="single.html" class="image"><img src="../static/images/pic10.jpg" alt="aca" /></a>
									</article>
								</li>
								<li>
									<article>
										<header>
											<h3><a href="single.html">¿Cómo llevar una dieta libre de glúten?</a></h3>
											<time class="published" datetime="2015-10-08">October 8, 2015</time>
										</header>
										<a href="single.html" class="image"><img src="../static/images/pic11.jpg" alt="aca" /></a>
									</article>
								</li>
								<li>
									<article>
										<header>
											<h3><a href="single.html">Comer fuera de casa, todo un desafío</a></h3>
											<time class="published" datetime="2015-10-06">October 7, 2015</time>
										</header>
										<a href="single.html" class="image"><img src="../static/images/pic12.jpg" alt="aca" /></a>
									</article>
								</li>
							</ul>
						</section>

						<!-- About -->
						<section class="blurb">
							<h2>KIA</h2>
							<p>Conocé nuestra adorable mascota y cómo puede ayudarte a encontrar las recetas perfectas para tu hogar.</p>
							<ul class="actions">
								<li><a href="#" class="button">Leer más</a></li>
							</ul>
						</section>

						<!-- Footer -->
						<section id="footer">
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
								<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p class="copyright">&copy; CELIAKIA. Aplicación diseñada y desarrollada por: Timoteo Pasinato - Nicolás Burgos - Evelyn Sacks </br> Ingeniería de Software 2022. Universidad Tecnológica Nacional, Facultad Regional Delta.</p>
						</section>

					</section>

			</div>

		<!-- Scripts -->
			<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
		

			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script> 
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" ></script>
			<script>
				$(function() {
					$.ajax({
						url: '{{ url_for("autocomplete") }}'
						}).done(function (data){
							$('#ingrediente_autocomplete').autocomplete({
								source: data,
								minLength: 2
							});
						});
					});
			</script>
			<script src="https://code.responsivevoice.org/responsivevoice.js?key=ylsXV674"></script>
		</body>
</html>