{% extends 'indexVistaBusqueda.html' %}

{% block contentLayoutMain %}
    {% if recetas|length > 0 %}
        <!-- Posts -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">Mis recetas favoritas</a></h2>
                </div>
            </header>
            <!-- Mini Posts -->
            <section>
                <div class="mini-posts">
                    {% for receta in recetas %}
                        <article class="mini-post">
                            <header>
                                <h2><a href="{{url_for('VerReceta', idReceta=receta.id)}}">{{ receta.titulo}}</a></h2>
                                    {% if receta.dificultad.descripcion == 'Baja' %}
                                        <p href="{{url_for('VerReceta', idReceta=receta.id)}}" class="icon solid fa-circle" style="color:lightseagreen;margin-bottom: 10px;">
                                            Dificultad {{receta.dificultad.descripcion}} 
                                    {% elif receta.dificultad.descripcion == 'Media' %}    
                                        <p href="{{url_for('VerReceta', idReceta=receta.id)}}" class="icon solid fa-circle" style="color:rgb(240, 216, 0);margin-bottom: 10px;">
                                            Dificultad {{receta.dificultad.descripcion}} 
                                    {% else %}
                                        <p href="{{url_for('VerReceta', idReceta=receta.id)}}" class="icon solid fa-circle" style="color:lightsalmon;margin-bottom: 10px;">
                                            Dificultad {{receta.dificultad.descripcion}} 
                                    {% endif %}
                                        </p>
                                        <p href="{{url_for('VerReceta', idReceta=receta.id)}}" class="icon solid fa-clock" style="margin-bottom: 10px;"> {{ receta.tiempoPreparacion(receta.id)}} minutos</p>
                                        <p href="{{url_for('VerReceta', idReceta=receta.id)}}" class="icon solid fa-bowl-food"> Ingredientes necesarios: {{ receta.ingrediente|length}}</p>
                            </header>
                            <a href="{{url_for('VerReceta', idReceta=receta.id)}}" class="image"><img src="{{url_for('ImagenReceta', nombre=receta.nombre_imagen)}}" alt="" /></a>
                        </article> 
                    {% endfor %}
                </div>
            </section>
        </article>
    {% else %}
        <article class="post">
            <!-- Mini Posts -->
            <section>
                <div class="mini-posts">
                    <header>
                        <h2><a>Aún no tienes recetas favoritas.</a></h2>
                    </header>
                </div>
            </section>
        </article>
    {% endif %}
		

{% endblock %}