{% extends 'indexLayout.html' %}

{% block contentMain %}
	<article class="post">
		<div class="title">
			<h2 style="text-align:center;"><a href="#">Buscar por Receta</a></h2>
		</div>
		<form method="post" action="{{url_for('RecetasPorNombre')}}">
			{{ form.hidden_tag() }}
			{{ form.csrf_token }}
			<div class="row gtr-uniform">
				<div class="col-12">
					{% if form.nombreReceta.errors %}                    
						{{ form.nombreReceta() }}
						<div>
							{% for error in form.nombreReceta.errors %}
								<span>{{ error }}</span> 
							{% endfor %}
						</div>
					{% else %}    
						{{ form.nombreReceta(type="text",placeholder="Nombre de la receta a buscar...") }}				
					{% endif %}
				</div>
				<div class="col-12">
					{{ form.submit(class="button fit") }}
				</div>
			</div>
		</form>	
	</article>

	{% if random %}
		<section>
			<div class="mini-posts">
				<h3>Recomendación del día</h3>
				{% for r in random %}
					<article class="mini-post">
                        <header>
                            <h3><a href="{{url_for('VerReceta', idReceta=r.id)}}">{{ r.titulo}}</a></h3>
                            <p href="{{url_for('VerReceta', idReceta=r.id)}}">Dificultad {{r.dificultad.descripcion}} <p href="#" class="icon solid fa-clock">{{ r.tiempoPreparacion(r.id)}} minutos</p></p>
                        </header>
                        <a href="{{url_for('VerReceta', idReceta=r.id)}}" class="image"><img src="{{url_for('ObtenerImagen', nombre=r.nombre_imagen)}}" alt="" /></a>
                    </article> 
				{% endfor %}
			</div>
		</section>
	{% endif %}
{% endblock %}