<!doctype html>
<html lang="es">
	<head>
		<!-- META TAGS -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- LINKS -->
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		

		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"/>	
		
		<link href="{{url_for('static', filename = 'fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{url_for('static', filename = 'css/style45.css')}}" rel="stylesheet" type="text/css">
		<link href="{{url_for('static', filename = 'css/mainLogin9.css')}}" rel="stylesheet" type="text/css">
		<link href="{{url_for('static', filename = 'css/util.css')}}" rel="stylesheet" type="text/css">
		
		<title>CeliaKIA Administrador</title>
	
	</head>
	<body>
		<div class="d-flex">
			<div id="sidebar-container" class="bg-primary">
				<div class="logo m-t-20">
					<center>
						<img src="{{url_for('ImagenReceta', nombre='kiasf2.png')}}" width="120" height="85">
					</center>
					<h4 class="text-light text-center font-weight-bold"> CeliaKIA <br> Administrador</h4>
				</div>
				<div class="menu">
					<div>
						<button class="dropdown-btn d-block text-light p-l-30 m-t-20">
							<i class="bi bi-caret-down"></i>
							Recetas 
							
						</button>
						<div class="dropdown-container p-l-30">
							<a href="{{url_for('Listado')}}" class="d-block text-light m-t-12"><i class="bi bi-file-text p-r-15 lead"></i>Listado Recetas</a>
							<a href="{{url_for('InfoGeneral')}}" class="d-block text-light m-t-12"><i class="bi bi-plus p-r-15 lead"></i>Nueva Receta</a>
						</div>
					</div>
					<div>
						<button class="dropdown-btn d-block text-light p-l-30 m-t-20">
							<i class="bi bi-caret-down"></i>
							Ingredientes 
						</button>
						<div class="dropdown-container p-l-30">
							<a href="#" class="d-block text-light m-t-12"><i class="bi bi-basket p-r-15 lead"></i>Listado Ingredientes</a>
							<a href="#" class="d-block text-light m-t-12"><i class="bi bi-plus p-r-15 lead"></i>Nuevo Ingrediente</a>
							<a href="#" class="d-block text-light m-t-12"><i class="bi bi-plus p-r-15 lead"></i>Unidades</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="w-100">
				<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
					<div class="container">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" 
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<img src="{{url_for('static', filename='kiasf.png')}}" class="img-fluid rounded-circle avatar mr-2">
										{{ user.nombre_usuario}}
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="#">Mi Perfil</a>
										<a class="dropdown-item" href="#">Administradores</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="{{url_for('Logout')}}">Salir</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				
				<!-- CAMBIO DE PAGINAS -->
				<div id="content" class="bg-mix"> {% block content %}   {% endblock %} </div>

			</div>
		</div>
		
		<!-- SCRIPTS -->
		
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
				integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" 
				crossorigin="anonymous">
		</script>
		
		<!-- DataTables -->
		<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
		<script src="{{url_for('static', filename = 'chart21.js')}}"></script>

		

	</body>
</html>