{% extends 'layout_login.html' %}
{% block body %}

<body style="background-image: url('static/camaleonportada.jpg');">
	<div class="container">
		<div class="row justify-content-center" style="margin-top: 120px;width: 800px;">
			<div class="col-xl-6 col-lg-12 col-md-9">
				<div class="card o-hidden border-0 shadow-lg my-5" style="width: 670px; height: 500px;">
					<div class="card-body p-0" style="width: 800px;height: 400px;">
						<div class="row" style="width: 696px;">
							<div class="p-5">
								{% with messages = get_flashed_messages() %}
									{% if messages %}
											{% for message in messages %}
											<div class="alert alert-danger alert-dismissible fade show" role="alert">
												{{ message }}
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
												</button>
											</div>
											{% endfor %}
									{% endif %}
								{% endwith %}
								<div class="text-center">
									<h1 class="text-gray-900">CeliaKIA</h1>
									<h4 class="text-gray-900 mb-4">ADMINISTRADOR</h4>
									<h5 class="text-gray-900 mb-4">Para ingresar al maravilloso mundo de KIA debes ingresar la contraseña...</h5>
								</div>
								<hr>
								<form class="user" id="form" method="POST" action="/inicio">
									<div class="form-group">
										<input class="form-control form-control-user" name="nombre_admin" id="nombre_admin" type="text" placeholder="Nombre">
									</div>
									<div class="form-group">
										<input class="form-control form-control-user" name="password_admin" id="password_admin" type="password"placeholder="Contraseña">
									</div>
									<Button class="btn btn-success btn-user btn-block">Ingresar</Button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	  <!-- Bootstrap core JavaScript-->
	  <script src="{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
	  <script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
	
	  <!-- Core plugin JavaScript-->
	  <script src="{{url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>
	
	  <!-- Custom scripts for all pages-->
	  <script src="{{url_for('static', filename = 'js/sb-admin-2.min.js')}}"></script>

{% endblock %}