<!DOCTYPE HTML>

<html>
	<head>
		<title>CeliaKIA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="{{url_for('static', filename = 'assets/css/main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	</head>
	<body class="cambio-bg">

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">						
						<article class="post">
							<header>
								<div class="title">
									<h2><a>Bienvenido a CeliaKIA</a></h2></br>
									<p>Una aplicación donde encontrarás las mejores recetas ideadas especialmente para celíacos.</p>
									
									{% with messages = get_flashed_messages() %}
										{% if messages %}
											{% for message in messages %}
											<div class="alert alert-info" role="alert">
												{{ message }}
											</div>
												
											{% endfor %}
										{% endif %}
								  	{% endwith %}
								</div>
							</header>

							<section>
									<form method="post" action="{{url_for('Login')}}">
										{{ form.hidden_tag() }}
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall">
												{{ form.nombreUsuario(type="text",  id="demo-email", value="", placeholder="Nombre de usuario") }}
											</div>
											<div class="col-6 col-12-xsmall">
												{{ form.contrasenia(type="password", id="demo-password", value="", placeholder="Contraseña") }}
											</div>
										
											<div class="col-12">
												<ul class="actions">
													<li>{{ form.submit( type="submit", value="Ingresar") }}</li>
												</ul>
											</div>
										</div>
									</form>
							</section>

							<footer>
								<ul class="stats">
									<li><a href="{{url_for('CrearCuenta')}}" style="color:gray">Crear Nueva Cuenta</a></li>
									<li><a href="{{url_for('ResetearContrasenia')}}" style="color:gray">Olvidé mi Contraseña</a></li>
								</ul>
							</footer>

						</article>
					</div>

			</div>
		<!-- Scripts -->
			<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
            <script src="{{url_for('static', filename='assets/js/browser.min.js')}}"></script>
            <script src="{{url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
            <script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
            <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>
	</body>
</html>