{% extends 'layout.html' %}

{% block content %}

<section class="py-3 p-t-14">
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-lg-9">
                <h1 class="font-weight-bold color-black">Recetas</h1>
                <p class="lead text-muted">
                    Nueva Receta - Ingredientes
                </p>
            </div>
            <div class="col-lg-3 d-flex p-t-30">
                <button class="btn-green w-100 align-self-center m-r-4" onclick="history.back()">Anterior</button>
                <a class="btn-green w-100 align-self-center" href="{{ url_for('PrepPorReceta') }}">Siguiente</a>
            </div>
        </div>
        <hr>
    </div>
</section>

<section>
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-agregar-tab" data-toggle="tab" href="#agregarIngrediente" role="tab" aria-controls="nav-agregar" aria-selected="false">Agregar Ingredientes</a>
            </div>
        </nav>
    </div>
</section>

<section>
    <div class="tab-content">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="agregarIngrediente" role="tabpanel" aria-labelledby="nav-agregar-tab">
                <div class="container m-t-15">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-body m-b-50">
                                    <span class="form-title">
                                        Agregar Ingrediente
                                    </span>   
                                    <div  class="wrap-input">
                                        <form class="login100-form" id="formIngredientes" method="POST" action="{{url_for('IngPorReceta')}}" enctype="multipart/form-data">
                                            {{ form.hidden_tag() }}

                                            <div class="col-md-14" id="descripcionIngrediente">
                                                {{ form.descripcionIngrediente.label(class="txt5 text-center col-md-12") }}
                                                <div  class="wrap-input100 validate-input m-b-16">
                                                    {% if form.descripcionIngrediente.errors %}
                                                    
                                                        {{ form.descripcionIngrediente(class="input100 is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in form.descripcionIngrediente.errors %}
                                                                <span>{{ error }}</span> 
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}    
                                                        {{ form.descripcionIngrediente(class="input100") }}
                                                        <span class="focus-input100"></span>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ form.cantidad.label(class="txt5 text-center col-md-12") }}
                                                    <div  class="wrap-input100 validate-input m-b-16">
                                                        {% if form.cantidad.errors %}
                                                        
                                                            {{ form.cantidad(class="input100 is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.cantidad.errors %}
                                                                    <span>{{ error }}</span> 
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}            
                                                            {{ form.cantidad(class="input100", type="number") }}
                                                            <span class="focus-input100"></span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form.unidad.label(class="txt5 text-center col-md-12") }}
                                                    <div  class="wrap-input100 validate-input m-b-16">
                                                        {% if form.unidad.errors %}
                                                        
                                                            {{ form.unidad(class="input100 is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.unidad.errors %}
                                                                    <span>{{ error }}</span> 
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}    
                                                            {{ form.unidad(class="input100") }}
                                                            <span class="focus-input100"></span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="container-login100-form-btn">
                                                {{ form.submit(class="login100-form-btn") }}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-7 p-l-0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dataTable">
                                        <table class="display table table-striped" style="width: 100%;">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Cantidad</th>
                                                    <th scope="col">Unidad</th>
                                                    <th scope="col">Descripción</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                {% for ixr in ingredientesXreceta %}
                                                    <tr>
                                                        <td>{{ ixr.cantidad }}</td>
                                                        <td>{{ ixr.unidad.descripcion }}</td>
                                                        <td>{{ ixr.ingredientes.descripcion }}</td>
                                                        <td>
                                                            <a id="delete{{ixr.id}}" href="/ingredientes/eliminar/{{ixr.id}}" class="btn btn-outline-danger" onclick="return confirm('Estas seguro que deseas eliminar el ingrediente de la receta?')">
                                                                <i class="bi bi-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}