{% extends 'layout.html' %}

{% block content %}

<section class="py-3 p-t-14">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="font-weight-bold color-black">{{ receta.titulo }}</h1>
                <p class="lead text-muted">
                    Ver Receta
                </p>
            </div>
        </div>
        <hr>
    </div>
</section>

<section>
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-lista-tab" data-toggle="tab" href="#infoGral" role="tab" aria-controls="nav-lista">Información General</a>
                <a class="nav-link" id="nav-agregar-tab" data-toggle="tab" href="#ingredientes" role="tab" aria-controls="nav-editar">Ingredientes</a>
                <a class="nav-link" id="nav-agregar-tab" data-toggle="tab" href="#preparacion" role="tab" aria-controls="nav-agregar">Preparacion</a>
            </div>
        </nav>
    </div>
</section>

<section>
    <div class="tab-content">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="infoGral" role="tabpanel" aria-labelledby="nav-lista-tab">
              <div class="container m-t-15">
                <div class="card">
                  <div class="card-body m-b-50">
                    <span class="form-title">Información general</span>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="preparacion" role="tabpanel" aria-labelledby="nav-agregar-tab">
                <div class="container m-t-15">
                    <div class="card">
                        <div class="card-body">
                            <div class="dataTable">
                                <table id="listadoPreparacion" class="table table-striped" style="width: 100%;">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Orden</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                            
                                    <tbody>
                                        {% for paso in preparacion %}
                                            <tr>
                                                <td> {{ paso.orden_del_paso}}</td>
                                                <td> {{ paso.descripcion}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="ingredientes" role="tabpanel" aria-labelledby="nav-ingredientes-tab">
                <div class="container m-t-15">
                    <div class="card">
                        <div class="card-body">
                            <div class="dataTable">
                                <table class="display table table-striped" style="width: 100%;">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Unidad</th>
                                            <th scope="col">Descripción</th>
                                            <th scope="col">Imagen</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for ixr in ingredientes %}
                                            <tr>
                                                <td>{{ ixr.cantidad }}</td>
                                                <td>{{ ixr.ingredientes.unidad.descripcion }}</td>
                                                <td>{{ ixr.ingredientes.descripcion }}</td>
                                                <td>{{ ixr.ingredientes.nombre_imagen }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}