{% extends 'indexLayout.html' %}

{% block contentIntro %}
<section id="intro">
    <header>
        <a href="{{url_for('RecetasPorNombre',nombre=busqueda)}}" class="button fit">Volver</a>
    </header>
</section>
{% endblock %}

{% block contentMain %}

    <!-- Post INGREDIENTES -->
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="#">{{receta.titulo}}</a></h2>
                {% if favorito %} 
                    <ul class="stats">
                        <a href="#">Dificultad {{receta.dificultad.descripcion}}</a><br>
                        <a href="#" class="icon solid fa-clock"> {{ receta.tiempoPreparacion(receta.id)}} minutos</a><br>
                        <a href="{{url_for('EliminarFavorita', idReceta = receta.id)}}"
                            class="icon solid fa-heart"></a>
                    </ul>
                {% else %} 
                <ul class="stats">
                    <a href="#">Dificultad {{receta.dificultad.descripcion}}</a><br>
                    <a href="#" class="icon solid fa-clock"> {{ receta.tiempoPreparacion(receta.id)}} minutos</a><br>
                    <a  href="{{url_for('AgregarFavorita', idReceta = receta.id)}}" 
                        class="icon fa-heart"></a>
                </ul>
                {% endif %}
            </div>
            <div class="meta">
                <a href="single.html" class="image featured"><img src="{{url_for('ObtenerImagen', nombre=receta.nombre_imagen)}}" alt="" /></a>
            </div>
        </header>
        <!-- Mini Posts -->
        <section>
            <h3>Ingredientes</h3>
            <ul class="posts">
                {% for ixr in receta.ingrediente %}
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">{{ixr.ingredientes.descripcion}}</a></h3>
                                <time class="published"> Cantidad necesaria: {{ixr.cantidad}} {{ixr.unidad.descripcion}}</time>
                            </header>
                            <a href="#" class="image">
                                <img style="width:64px; height:64px;" src="{{url_for('ObtenerImagen', nombre=ixr.ingredientes.nombre_imagen)}}" alt="" />
                            </a>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h3>Preparación</h3>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for paso in receta.preparacion %}
                            <tr>
                                <td lang="es"> {{ paso.orden_del_paso}}</td>
                                <td lang="es"> {{ paso.descripcion}}</td>
                                <td>
                                    <button onclick="responsiveVoice.speak('{{paso.descripcion}}');"
                                        type="button" value="Reproducir">
                                    </button>  
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <footer>
            <ul class="actions">
                <li><a href="#" class="button large">Escucha tu receta</a></li>
            </ul>
            <ul class="stats">
                <li><a href="#">General</a></li>
                <li><a href="#" class="icon solid fa-heart">28</a></li>
            </ul>
        </footer>
    </article>

{% endblock %}


